Repository Quaquaro/quiz-app: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint, npm run eslint:write, prettier --write

JS-code optimization
  index.html
  scripts/Switch.js
Due: htmlhint, npm run eslint:write, prettier --write

Switch from let to const and delete one debugging console.log
  scripts/Form.js
  scripts/Switch.js
Due: npm run eslint:write, prettier --write

Implement fetch API for the question
  components/Card.js
  components/Form.js
  components/Switch.js
  components/app-grid.css
  components/app-grid.stories.js
  components/button.css
  components/button.stories.js
  components/footer.css
  components/footer.stories.js
  components/form.css
  components/header.css
  components/header.stories.js
  components/headings.css
  components/headings.stories.js
  components/question-card.css
  components/question-card.stories.js
  components/tag.css
  components/tag.stories.js
  index.html
  index.js
  package-lock.json
  package.json
  scripts/Card.js
  styles/index.css
Due: htmlhint, npm run eslint:write, prettier --write

Forget to run prettier--write
  package.json
Due: none

implement async
  components/Card.js
Due: npm run eslint:write, prettier --write

:memo: Update README
  README.md
Due: prettier --write

Path conditions:
  htmlhint: any of: *.html
  npm run eslint:write: any of: *.js
  prettier --write: any of: *.{js,jsx,ts,tsx,md,css,html}
